.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: visible;

}
.modal-main{
    position: absolute;
    padding: 10px 20px;
    top: 100px;
    min-width: 350px;
    max-width: 350px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: white;
    border:none;
    border-radius: 12px;
    color:black;
    font-family: "Campton";
}
.modal-title{
    font-family: "Campton";
    font-size: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECEAE9;
    padding: 10px;
}
.modal-content{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.modal-content input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 0px 10px;
}
.modal-content textarea {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    height: 100px;
}
#modal-label{
    color: #6D6E6F;
    font-size: 12px;
    padding: 10px 20px;
    font-family: "Montserrat-Bold";
}
 #modal-button{
    width: 60px;
    font-size: 14px;
    color: white;
    background-color: #796EFF;
    border-radius: 5px;
    border:none;
    height: 36px;

    cursor: pointer;
 }
#modal-button-container{
    border-top: 1px solid #ECEAE9;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 20px 20px;
}

#modal-button:hover{
    background-color: #635ac7;
}
 #modal-button-delete{
    width: 60px;
    font-size: 14px;
    color: black;
    background-color: #F06A6A;
    border-radius: 5px;
    border:none;
    height: 36px;
    cursor: pointer;
 }
#modal-button-delete:hover{
    background-color: #DF6064;
}
 #modal-button-cancel{
    width: 60px;
    margin-right: 20px;
    font-size: 14px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border:1px solid #CECBCB;
    height: 36px;

    cursor: pointer;
 }
 #modal-button-cancel:hover{
    background-color: #F9F8F8;
    border-color: #AEABAC;
}
#modal-form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#form-select{
    flex-direction: row !important;
}

#form-select select{
    margin-left: auto;
}

.form-errors{
    background-color: #FFEEED;
    color: #D05E62;
    padding: 10px;
}
#form-submit-button{
    height: 32px;
	cursor: pointer;
	display: inline-flex;
    line-height: 15px;
	align-items: center;
    padding: 10px;
    margin-top: 10px;
	justify-content: center;
	background-color: #0B65C2;
	border:none;
	border-radius: 10px;
	color: white;
	vertical-align: center;
	font-size: 15px;
	font-family: "Campton", sans-serif;
}
#form-submit-button:hover{
    background-color: #004182;
}

#modal-close-button{
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
}

#modal-close-button:hover{
    background-color: #EBEBEB;
    border-radius: 25px;
}
#modal-close-button svg{
    margin: 0 !important;
}

#form-required{
    color:#666666;
}
#form-submit-button-delete{
    height: 32px;
	cursor: pointer;
	display: inline-flex;
    line-height: 15px;
	align-items: center;
    padding: 10px;
    margin-top: 10px;
	justify-content: center;
	background-color: #666666;
	border:none;
	border-radius: 10px;
	color: white;
	vertical-align: center;
	font-size: 15px;
	font-family: "Campton", sans-serif;
}
#form-submit-button-delete:hover{
    background-color: #d7d3d3;
    color:black;
}
