.contact-list > .widget-row {
	padding: 5px 20px;
    display: flex;
    align-items: center;
}
.contact-list > .widget-row:hover {
	background-color: #F9F8F8;
	cursor: pointer;
}
.contact-widget-details{
    overflow-y:scroll;
    margin-top: 10px;
}
.contact-details{
    margin-top: 10px;
}
.contact-details > .widget-row{
    padding: 0px 20px 0px 50px;
}
.contact-options{
    margin-left: auto;
}
#contact-row-title{
    font-family: "Campton" , sans-serif;
}
#contact-row-value{
    margin-left: 10px;
    color:#666666;
    font-family: "Campton-Light", sans-serif;
}

#contact-button{
    margin-left: 5px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #666666;
}
#contact-button:hover{
    background-color: rgb(223, 222, 222);
}
