.target-card {
	width: 350px;
	height: 200px;
    border-radius: 10px;
	box-shadow: 0 3px 8px rgb(0 0 0 / 30%);
    background-color: white;
	display: flex;
	padding: 10px;
	flex-direction: column;
	font-family: "Campton-Light", sans-serif;
	cursor: pointer;
}

#card-header{
	display: flex;
	font-weight: 900;
	justify-content: center;
	font-size: 20px;
	border-bottom: 1px solid black;
}

.target-card h2, h3{
	margin:0;
}

#card-button{
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding-bottom: 10px;
}
#card-button div{
	height: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0B65C2;
	border:none;
	border-radius: 20px;
	color: white;
	vertical-align: center;
	font-size: 15px;
	font-family: "Campton", sans-serif;
	width: 100px;
}
#card-button div:hover{
	background-color: #004182;
}

.target-status-card{
    border-radius: 20px;
	margin-left: auto;
    padding: 5px 10px;
    font-size: 1em;
    margin-bottom: -5px;
	width: fit-content;
}
#card-row{
	display: flex;
	align-items: center;
	height: 50px;
}

#card-phone{
	margin-left: auto;
}
